---
import Layout from "/workspaces/thomasn-dw2/src/layouts/Layout.astro";
import Button from "/workspaces/thomasn-dw2/src/components/Button.astro";
// import {Image} from "/workspaces/thomasn-dw2/src/assets/Frisbee Site/GUNX Logo.png";
import {Image} from 'astro:assets';
import GunxLogo from "../../assets/Frisbee Site/GUNX Logo.png";
import CardBackground from "../../assets/Frisbee Site/card-background.png";
import mirsad from "../../assets/Frisbee Site/mirsad.png";
export const pageTitle = "Frisbee Site";
---


<Layout compact title={pageTitle}></Layout>
<Image src={GunxLogo} alt="frisbee" width={300} height={300}/>

<h1>
  GUNX Ultimate 
</h1> 
<h1>
  SUNY New Paltz Ultimate Frisbee
</h1>    
<header>
      <nav>
       
        <div class="nav-items">
          <a href="#whatfrisbee" class="nav-btn">What is Frisbee?</a>
          <a href="#meetGUNX" class="nav-btn">Meet the GUNX</a>
          <a href="#dates" class="nav-btn">Important Dates</a> 
          <a href="#practice" class="nav-btn">Practice Times</a>
          <a href="#contact" class="nav-btn">Contact</a>
        </div>
      </nav>
    </header>  

</div>
<h2>
  <p>What is Frisbee?</p>

  <!-- get involved button -->
  <Button href=""/> 

    <section id="whatfrisbee">
     <p>What is Frisbee?</p>
  </section>

  <section id="meetGUNX">
     <p>Meet the GUNX</p>
  </section>

  <section id="dates">
     <p>Important Dates</p>
   </section>

  <section id="practice">
     <p>Practice Times</p>
   </section>

  <section id="contact">
     <p>Contact</p>
   </section>
 
   
  
</h2>
  </Frame>
</Layout>


<div class="img-container">

<Image src={CardBackground} alt="" class="img-background"/>
<!-- mirsad card -->
<Image src={mirsad} alt="" class="mirsad"/>
<p class="title">Coach</p>

<!-- mirsad card -->

</div>






<style>
    .page-container{
    display:flex;
    flex-direction:column;
    align-items:center;

  }
    body {
        background-color: black;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;;
      }
    h1{
      color: white;
      padding:1rem;
    }
    
    .nav-items{
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      gap:1rem;
      
     
    }
    a.nav-btn{
        color:rgb(199, 106, 0);
        text-decoration:none;
        padding: .2rem;
        background-color: transparent;
        border: 1.5px solid rgb(199, 106, 0);
        border-radius: 3px;
        display:block;
        

    }
    a.nav-btn:hover{
        background-color: rgb(199, 106, 0);
        color:white
    }


    p{
        color:white;
    }

    .img-container{
      display:flex;
      justify-content: center;
      width:85%;
      height:auto;
      max-width:500px;
      max-height:700px;
      object-fit:contain;
      padding:1rem;
      position:relative;
      
    }
    .img-background{
      position:absolute;
      width:100%;
      height:auto;
      max-width:550px;
      max-height:770px;
      object-fit:contain;
      z-index: -1;
    }
    .mirsad{
      position:relative;
      left:6rem;
      top:10rem;
      width:110%;
      height:auto;

    }

</style>