---
import Layout from "/workspaces/thomasn-dw2/src/layouts/Layout.astro";
import Button from "/workspaces/thomasn-dw2/src/components/Button.astro";
// import {Image} from "/workspaces/thomasn-dw2/src/assets/Frisbee Site/GUNX Logo.png";
import {Image} from "astro:assets";
import GunxLogo from "../../assets/Frisbee Site/GUNX Logo.png";
// eboard cards
import  GooseCard from "/workspaces/thomasn-dw2/src/assets/goose.webp";
import  ColeCard from "/workspaces/thomasn-dw2/src/assets/cole.webp";
import  MirsadCard from "/workspaces/thomasn-dw2/src/assets/mirsad.png";
import  NickyCard from "//workspaces/thomasn-dw2/src/assets/nicky.webp";
import  EthanCard from "/workspaces/thomasn-dw2/src/assets/ethan.webp";
import  RoseCard from "/workspaces/thomasn-dw2/src/assets/cole.webp";
import  MayCard from "/workspaces/thomasn-dw2/src/assets/cole.webp";
import ShoshCard from "/workspaces/thomasn-dw2/src/assets/shosh.webp";
import TeamPic from "../../assets/Frisbee Site/TeamPic.jpg";
// eboard end
export const pageTitle = "Frisbee Site";
---


<Layout compact title={pageTitle}></Layout>
<Image src={GunxLogo} alt="frisbee" class="GunxLogo"/>

<h1>
  GUNX Ultimate 
  SUNY New Paltz Ultimate Frisbee
</h1>    
<header>
      <nav>
       
        <div class="nav-items">
          <a href="#whatfrisbee" class="nav-btn">What is Frisbee?</a>
          <a href="#meetGUNX" class="nav-btn">Meet the GUNX</a>
          <a href="#dates" class="nav-btn">Important Dates</a> 
          <a href="#practice" class="nav-btn">Practice Times</a>
          <a href="#contact" class="nav-btn">Contact</a>
        </div>
      </nav>
    </header>  

</div>
<h2>
  <p class="bungee">What is Frisbee?</p>

  <!-- get involved button -->
  <Button href="" class="getinvolved"/> 

    <section id="whatfrisbee">
     <p class="bungee">Who Are We?</p>
     <div class="team-pic-wrap">
        <Image src={TeamPic} alt="Team Photo" class="TeamPic"/>
        <div class="hcap">AARRGGGHHH!</div>
     </div>

    <h2>Example</h2>
    <span class="hovertext" data-hover="Hello, this is the tooltip">Try hover over me</span></div>
  </section>

  <section id="meetGUNX">
     <p class="bungee">Meet the GUNX</p>
     <!-- eboard cards -->
<Image src={GooseCard} alt="Goose Mascot" class="eboardCard"/>
<Image src={ColeCard} alt="Cole Enslen President" class="eboardCard"/>
<Image src={MirsadCard} alt="Mirsad" class="eboardCard"/>
<Image src={EthanCard} alt="Ethan Gravel Social Media Manager" class="eboardCard"/>
<Image src={NickyCard} alt="Nicky Thomas Captain" class="eboardCard"/>
<Image src={RoseCard} alt="Rose Bromage Spirit Captain" class="eboardCard"/>
<Image src={MayCard} alt="May Hornbuckle Secretary" class="eboardCard"/>
<Image src={ShoshCard} alt="Shoshana Shapiro Treasurer" class="eboardCard"/>

<!-- card end-->
  </section>

  <section id="dates">
     <p class="bungee">Important Dates</p>
   </section>

  <section id="practice">
     <p class="bungee">Practice Times</p>
   </section>

  <section id="contact">
     <p class="bungee">Contact</p>
   </section>
 
   
  
</h2>
  </Frame>
</Layout>








<style>
    .page-container{
    display:flex;
    flex-direction:column;
    align-items:center;

  }
    body {
        background-color: black;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;;
      }
    h1{
      color: white;
      padding:1rem;
      
      display:flex;
      justify-content: center;
      font-family: 'Jomolhari', serif;
    
    }

/* nav buttons */
    .nav-items{
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      gap:1rem;
      
     
    }
    
    a.nav-btn{
        color:rgb(199, 106, 0);
        text-decoration:none;
        padding: .2rem;
        background-color: transparent;
        border: 1.5px solid rgb(199, 106, 0);
        border-radius: 3px;
        display:block;
    }
    
    a.nav-btn:hover{
        background-color: rgb(199, 106, 0);
        color:white
    }
 /* nav buttons */


    p{
      color:white;
    }

    /* eboard card */
    .eboardCard{
      display:flex;
      justify-content: center;
     
    }
  /* hover text */
  .hovertext {
      position: relative;
      border-bottom: 1px dotted black;
      }
      .hovertext:before {
      content: attr(data-hover);
      visibility: hidden;
      opacity: 0;
      width: 140px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 0;
      transition: opacity 1s ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%;
      }
      .hovertext:hover:before {
      opacity: 1;
      visibility: visible;
      }
/* hover text */

/* all h2 text */
    .bungee{
      font-family: 'Bungee', system-ui;
      font-weight: lighter;
      display:flex;
      justify-content: center;
    }
/* all h2 text */



  /* team picture */
    .TeamPic{
      border-radius: 10px;
      display:flex;
      justify-content: center;
      padding:.4rem;
    }
/* (B) POSITION CAPTION */
    .hwrap { position: relative; }
/* PLACE AT BOTTOM */
    .hcap {
      position: absolute; bottom: 0; left: 0;
    }
/* (C) ONLY SHOW CAPTION ON HOVER */
      .hcap {
        visibility: none; opacity: 0;
        transition: opacity 0.3s;
      }
      .hwrap:hover .hcap{
        visibility: visible; opacity: 1;
      }
          
      
</style>